{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
    {{ template "header" . }}
    <div class="content">
        {{ if eq .ContentBlock "login_content" }}
            {{ template "login_content" . }}
        {{ else if eq .ContentBlock "register_content" }}
            {{ template "register_content" . }}
        {{ else }}
            Default Content
        {{ end }}
    </div>
</body>
</html>

{{ end }}